* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BeVietnamPro';
    src: url('../../assets/fonts/BeVietnamPro-Regular.ttf');
}

@font-face {
    font-family: 'ReenieBeanie';
    src: url('../../assets/fonts/ReenieBeanie-Regular.ttf');
}


.container {
    position: relative;
    height: 100vh;
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

.landing-page {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../../assets/img/black-wall-texture.jpg);
    background-size: cover;
    gap: 20px;
    font-family: 'ReenieBeanie';
}

.title-h1 {
    font-family: 'BeVietnamPro';
    font-weight: 800;
    font-size: 40px;
    margin: 30px 0px 10px 0px;
}

.subtitle-h2 {
    color: rgb(149, 135, 226);
    font-size: 35px;
    padding: 0;
    margin: 10px 0;
    text-decoration: 1px underline white;
}

.description {
    width: 50%;
    font-family: 'BeVietnamPro';
    font-size: 15px;
    margin-top: -20px;
}

.desc {
    color: rgb(149, 135, 226);
    padding: 0 3px;
    font-family: 'ReenieBeanie';
    font-size: 26px;
    text-decoration: 1px underline white;
}

.box {
    position: absolute;
    border-radius: 20px;
    color: black;
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'BeVietnamPro';
    height: 40px;
    background-color: rgb(223, 193, 252);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}

.a {
    top: 41vh;
    left: 9vw;
    transform: rotate(0deg);
    z-index: 2;
    width: 150px;
}

.b {
    top: 49vh;
    left: 7vw;
    transform: rotate(-2deg);
    z-index: 3;
    width: 200px;
}

.name {
    position: absolute;
    z-index: 3;
    font-size: 46px;
    font-family: 'ReenieBeanie';
    color: rgb(47, 36, 88);
    transform: rotate(-6deg);
    top: 58vh;
    left: 85vw;
}

/* pictures */

.absolute {
    position: absolute;
    overflow: hidden;
}

.record {
    width: 530px;
    top: 13vh;
    left: -22vw;
    z-index: 2;
}

.legs {
    z-index: 1;
    transform: scaleX(-1) rotate(-8deg);
    width: 400px;
    top: -8vh;
    left: 2vw;
}

.flower {
    width: 200px;
    top: 60vh;
    left: 6vw;
    z-index: 2;
}

.page {
    width: 480px;
    left: 80vw;
    top: -27vh;
    z-index: 1;
}

.instax1 {
    z-index: 2;
    width: 230px;
    left: 75vw;
    transform: rotate(-10deg) translateY(50%);
}

.ladybug {
    z-index: 2;
    width: 280px;
    top: -10vh;
    left: 80vw;
}

.starblue {
    z-index: 3;
    width: 180px;
    top: 58vh;
    left: 75vw;
}
